<!DOCTYPE html>
<html lang="en" data-theme="dark" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Here is job what you looking for!</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <script src="https://kit.fontawesome.com/040cceeda8.js" crossorigin="anonymous"></script>
  
</head>
<body>
  <main class="container">
    {% if keyword == "python" %} 
    <h1><mark>Life is short, You need Python. Python Job is Here <i class="fa-brands fa-python"></i></mark></h1>
    {% elif keyword == "react" %} 
    <h1><mark>World famous FD Library. React Job is Here <i class="fa-brands fa-react"></i></mark></h1>
    {% elif keyword == "java" %} 
    <h1><mark>Write once, run anywhere. Java Job is Here <i class="fa-brands fa-java"></mark></i></h1>
    {% endif %}
  <h2>RemoteOK</h2>
  <figure>
    <table role="grid">
      <thead>
        <th scope="col">Company</th>
        <th>Position</th>
        <th>Location</th>
      </thead>
      <tbody>
      {% for list in reok %}
      <tr>
        <td>{{ list.company }}</td>
        <td>{{ list.position }}</td>
        <td>{{ list.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </figure>

    <h2 mark>WeWorkRemotely</h2>
    <figure>
    <table role="grid">
      <thead>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
      </thead>
      <tbody>
      {% for list in wework %}
      <tr>
        <td>{{ list.company }}</td>
        <td>{{ list.position }}</td>
        <td>{{ list.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </figure>
  </main>
    
</body>
</html>