<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Here is what you are looking for: {{ keyword }}</h1>
    {% for list in result %}
    <div>
      <span>{{ list.company }}</span>
      <span>{{ list.job_title }}</span>
      <span>{{ list.wanted }}</span>
      <span>{{ list.verified }}</span>
      <span>{{ list.pay }}</span>
      <span>{{ list.location }}</span>
    </div>
    {% endfor %}
</body>
</html>